.beacon {
  margin-left: -1px;
  margin-bottom: -1px;
  width: 1px;
  height: 1px;
}

.beacon.debug {
  margin-left: -5px;
  margin-bottom: -5px;
  width: 5px;
  height: 5px;
  background: orange;
}

.shadow {
  opacity: 0.4
}
.shadow + .child_area {
  opacity: 0.4;
}

.shadow + .child_holder {
  opacity: 0.4;
}

.on_top {
  z-index: 100;
}
