@keyframes details_pane_toggle_show {
  from { right: 10px; transform: rotate(0deg); }
  to { right: 410px; transform: rotate(180deg); }
}
@keyframes details_pane_toggle_hide {
  from { right: 410px; transform: rotate(180deg); }
  to { right: 10px; transform: rotate(0deg); }
}

.details_pane_toggle {
  background-image: url("../resources/arrow.png");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;

  position: absolute;
  top: 10px;
  z-index: 10;

  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.details_pane_toggle:hover {
  background-color: lightgrey;
}
.details_pane_toggle:active {
  background-color: grey;
}

.details_pane_toggle.visible {
  animation-name: details_pane_toggle_show;
}
.details_pane_toggle.hidden {
  animation-name: details_pane_toggle_hide;
}
.details_pane_toggle.initial {
  right: 10px;
}

@keyframes details_pane_show {
  from { right: -400px; }
  to { right: 0; }
}
@keyframes details_pane_hide {
  from { right: 0; }
  to { right: -400px; }
}

.details_pane {
  background: gainsboro;
  border: 1px solid black;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

  position: absolute;
  top: 0;
  z-index: 10;

  width: 400px;
  height: 100vh;
}

.details_pane.initial {
  right: -400px;
}
.details_pane.visible {
  animation-name: details_pane_show;
}
.details_pane.hidden {
  animation-name: details_pane_hide;
}
