body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.map {
  background: lightblue;
  contain: layout;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.topchild {
  box-sizing: border-box;
  position: absolute;
  contain: layout;
  background: pink;
  border-radius: 10px;
  border: 1px solid black;
}

.ewhandle {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: -3px;
  width: 6px;
  cursor: ew-resize;
}

.debug {
  background: orange;
}

.childarea {
  position: relative;
  top: 100%;
  padding-left: 25px;
}

.child {
  margin-top: 5px;
  box-sizing: border-box;
  position: relative;
  background: lightgreen;
  border-radius: 10px;
  border: 1px solid black;
}
