body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  user-select: none;
}

.map {
  background: lightblue;
  contain: layout;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.top_child {
  box-sizing: border-box;
  position: absolute;
  contain: layout;
}

.top_child > .content {
  background: pink;
  border-radius: 10px;
  border: 1px solid black;
}

.child {
  margin-top: 5px;
  box-sizing: border-box;
  position: relative;
}

.content {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.child_area {
  position: relative;
  padding-left: 25px;
  display: block;
  contain: layout;
}

.ewhandle {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: -3px;
  width: 6px;
  cursor: ew-resize;
}

.debug {
  background: orange;
}

.beacon {
  margin-left: -5px;
  margin-bottom: -5px;
  width: 5px;
  height: 5px;
  background: orange;
}

.shadow {
  opacity: 0.4
}
.shadow + .child_area {
  opacity: 0.4;
}

.shadow + .child_holder {
  opacity: 0.4;
}

.on_top {
  z-index: 100;
}

.selection_container {
  position: relative;
  display: flex;
  flex-shrink: 1;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(195, 231, 240);
  min-width: 20px;
  max-width: max-content;
  border-radius: 10px;

  transition: box-shadow 200ms, transform 200ms, z-index 200ms;
}

.selection_container:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.contents_container {
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: nowrap;
  padding: 10px;
}

.label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.child_holder {
  position: relative;
  contain: layout;
}

.child_edge {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 12px;
  width: 0;
  border-left: 2px solid black;
}
